body {
    color: rgb(0, 0, 0);
}
body a {
    color: rgb(0, 0, 0);
}
body img {
    width: 100%;
    height: 100%;
    position: relative;
}
h1 {
    position:relative;
    top:-700px;
    left: 45%;
}